# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*.user
*.autosave
build-markup-Desktop_x86_darwin_generic_mach_o_64bit-Debug
